* {
    margin: 0;
    padding: 0%;
}

#clockContainer {
    width: 40vw;
    height: 40vw;
    background: url(watch.webp);
    margin: auto;
    background-color: hsl(0, 0%, 60%);
    border: 2px solid linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    background-size: 100% 100%;
    position: relative;
    border-radius: 332px;
}

#clockContainer::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 50%;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    z-index: -1;
    
}

#hours,
#minutes,
#seconds {
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hours {
    width: 1.5%;
    height: 20%;
    top: 30%;
    left: 49.2%;
    background-color: blue;
}

#minutes {
    width: 1.5%;
    height: 27%;
    top: 23%;
    left: 49.3%;
    background-color: green;
}

#seconds {
    width: 1%;
    height: 38%;
    top: 12%;
    left: 49.5%;
    background-color: blueviolet;
}