/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-items {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar .nav-items a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hero-container {
    margin: 20px 0;
    width: 100%;
    height: 600px;
    background-image: url(https://www.shutterstock.com/image-photo/smart-watch-ultra-2-smartwatch-260nw-2469653537.jpg);
    background-position: center;
    background-size: cover;
}

/* Carousel Container */
.carousel-container {
    position: relative;
    margin: 2rem 0;
    overflow: hidden;
}

/* Wrapper Styles */
.wrapepr {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px;
}

.card {
    flex: 0 0 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.image-Container{
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.image-Container img {
    width: 100%;
    height: 200px;
}

.image-Container:hover .add-to-cart{
    opacity: 1;
    transform: translateY(0);
}

.add-to-cart {
    background: black;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Scroll Buttons */
.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}