@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yuji+Mai&display=swap');

/* font-familys that is add from google font 
font-family: "Playwrite HR Lijeva", cursive;

font-family: "Yuji Mai", serif;

font-family: "Roboto", sans-serif;

font-family: "Parkinsans", sans-serif; */




body {
    background-color: hsl(0, 0%, 90%);
}

* {
    margin: 0;
    padding: 0%;
}

nav {
    background-color: hsl(0, 0%, 20%);
    font-family: "Roboto", sans-serif;

}

ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    padding: 0 10px;
    color: white;
}

.title {
    font-weight: 600;
    font-size: 18px;
}

.brand {
    width: 40px;
    margin: 10px;

}


.container {
    min-height: 70vh;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-family: "Yuji Mai", serif;
    width: 80%;
    margin: 23px auto;
    padding: 10px;
    border-radius: 10px;
    background-image: url(bg.jpg);
    background-size: 100% 100%;
}

.bottom {
    position: sticky;
    height: 100px;
    bottom: 0;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.icons {
    margin: 14px 0;
}

.icons i {
    cursor: pointer;
    margin: 0 5px;
}

#myProgressBar {
    width: 80vw;
}

.songItems {
    height: 60px;
    display: flex;
    background-color: white;
    color: black;
    width: 30%;
    margin: 20px 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.songItems img {
    width: 52px;
    left: 10px;
    height: 52px;
    border-radius: 30px;
}

.songListplay i {
    cursor: pointer;
    font-size: 18px;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: "Yuji Mai", serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 1s ease;
}

#Controls {
    display: flex;
    position: absolute;
    right: 180px;
    gap: 5px;
}