<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home Short URL - 2025</title>
</head>
<body>
     <h1>Short your url here, just in one click</h1>
     <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, numquam! Dolorem saepe maxime vitae recusandae hic, ullam error, dolorum deserunt repellendus quibusdam, aliquam alias! Perferendis fugiat fugit commodi! Expedita, sit!</p>
</body>
</html>