<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home Short URL - 2025</title>
     <style>
          
          body {
               font-family: sans-serif;
          }

          h1 {
               color: steelblue;
               text-align: center;
               font-size: 38px;
          }

          .input-form {
               max-width: 800px;
               background-color: hsl(0, 0%, 90%);
               box-shadow: 0px 0px 5px rgb(78, 78, 78);
               margin: 50px auto;
               padding: 24px;
               border-radius: 8px;
               display: flex;
               align-items: center;
               justify-content: center;
               gap: 8px;
               box-sizing: border-box;
          }

          .input-form input {
               padding: 6px 14px;
               font-size: 16px;
               outline: none;
               width: 100%;
               max-width: 80%;

          }

          .input-form button {
               font-size: 16px;
               outline: none;
               border: 1px solid gray;
               border-radius: 8px;
               padding: 8px 16px;
               background-color: steelblue;
          }

          table {
               max-width: 800px;
               background-color: hsl(0, 0%, 90%);
               box-shadow: 0px 0px 5px rgb(78, 78, 78);
               margin: 50px auto;
               padding: 24px;
               border-radius: 8px;
               width: 100%;
          }
     </style>
</head>

<body>
     <h1>Short your url here, just in one click</h1>
     <form method="post" action="/url" class="input-form">
          <div style="width: auto">
               <label for="url-input">enter your url here</label>
               <input type="text" id="url-input" name="url">
          </div>
          <button type="submit">Generate</button>
     </form>

     <div>
          <% if (locals.url) { %>
               <p>http://localhost:8001/url/<%= url.shortId %>
               </p>
               <% } %>
     </div>
</body>


<script>

     const inputForm = document.getElementsByClassName('input-form');
</script>

</html>