/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 2rem;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #00bcd4;
}

.hero {
    display: flex;
    justify-content: center;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?blur,tech');
    background-size: cover;
    background-position: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 86vh;
    margin-top: 20px;
}

.form-container h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input {
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

form .gender {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

form .gender label {
    cursor: pointer;
}

#btn {
    width: 100px;
    padding: 0.4rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#btn:hover {
    background-color: white;
    color: black;
}
.Container {
    text-align: start;
    margin: 10px 0 0 0 ;
}

#resultCont {
    margin: 5px 0 0 0;
    text-align: start;
}

#resultCont div::first-letter {
    text-transform: uppercase;
}

footer {
    background-color: black; 
    color: white; 
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    width: 100%;
    bottom: 0;
}


footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: gray;
}


@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero {
        padding: 1rem;
    }

    .form-container {
        padding: 1.5rem;
    }
    footer {
        font-size: 14px;
    }
}