body {
  background: url(https://media.licdn.com/dms/image/v2/D5612AQFqM6pkdO3STQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1729878825910?e=2147483647&v=beta&t=9DF5hvcUyfcpRZBDvbdFLd3HfGUoiPP_xEdSOw-dUiY);
  background-repeat: no-repeat;
  background-size: cover;
}

.ownCss {
  color: hsl(0, 0%, 70%) !important;
}

.swap {
  top: 35%;
  left: 46%;
}

.main-box {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}