@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --accent-color: hsl(195, 100%, 45%);
    --base-color: #ffffff;
    --text-color: #2e2b41;
    --input-color: #f3f0ff;
    --bg-color: hsl(0, 0%, 80%);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}


.wrapper {
    box-sizing: border-box;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}

form {
    background-color: hsl(0, 0%, 90%);
    width: 20%;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
}

form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

form input {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    border-radius: 0 10px 10px 0;
    border: solid 2px var(--input-color);
    background-color: var(--input-color);
    transition: 150ms ease;
}

form input:hover {
    border-color: var(--accent-color);
}

form input:focus {
    outline: none;
    border-color: var(--text-color);
}

div:has(input:focus)>label {
    background-color: var(--text-color);
}

form input::placeholder {
    color: var(--text-color);
}

#showPasswordcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#showPassword {
    width: 16px;
    height: 16px;
}

form #btn {
    margin-top: 5px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    transition: 150ms ease;
}

form #btn:hover {
    background-color: var(--text-color);
}

form #btn:focus {
    outline: none;
    background-color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);

}

a:hover {
    text-decoration: underline;
}

#errorsElement {
    color: #f06272;
}

form div.incorrect label {
    background-color: #f06272;
}

form div.incorrect input {
    border-color: #f06272;
}